<div class="container">
<form [formGroup]="storyForm" (ngSubmit)="submitForm(storyForm.value)" class="input-field col s12">
    <div class="form-group">
        <input id="title" type="text" formControlName="storyTitle">
        <label for="title"><i class="fas"></i>Story title</label>
    </div>
    <div>
        <textarea id="story" class="materialize-textarea" data-length="120"
            formControlName="storyContent"></textarea>
        <label for="story">Your story content:</label>
    </div>
    <div class="center-align">
        <button type="submit" id="submitstoryBtn" class="waves-effect waves-light btn-small green">Save story</button>
        <button (click)="reset()" id="resetBtn" class="waves-effect waves-light btn-small green">Discard story</button>
    </div>
</form>
</div>