<div class="bookContainer">
    <div class="row" *ngFor="let thebook of book">
        <div class="col s12 m3 imgdiv">
            <img src="{{findPath (thebook.coverImagePath)}}" alt="nema slidze">
        </div>
        <div class="col s12 m9">
            <h3>{{thebook.title}}</h3>
            <a [routerLink]="['/author', thebook.author._id]">
                <h4>{{thebook.author.name}}</h4>
            </a>
            <h5>{{thebook.genre}}</h5>
            <p>{{thebook.description}}</p>
        </div>
    </div>
</div>

<div class="rateContainer container">
    <div class="row">
        <form class="col s12 m4 yourRating" [formGroup]="rateBookForm" (ngSubmit)="submitRating(rateBookForm.value)">
            <div class="form-group yourRating">
                <select formControlName="rating">
                    <option value="" disabled selected>Rate:</option>
                    <option value="0">
                        Unrated
                    </option>
                    <option value="1">1
                        <i class="fas fa-star right"></i>
                    </option>
                    <option value="2">2
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                    </option>
                    <option value="3">3
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                    </option>
                    <option value="4">4
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                    </option>
                    <option value="5">5
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                        <i class="fas fa-star right"></i>
                    </option>
                </select>
                <div class="moreBtnContainer">
                    <button id="readMoreBtn" class="waves-effect waves-light btn-small amber accent-4" type="submit">
                        submit rating
                    </button>
                </div>
            </div>
        </form>
        <div class="col s12 m4 allRating">
            <div class="globalRating">
                <h5>
                    Your Rating: {{yourRating}} <i class="fa fa-star"></i>
                </h5>
            </div>
        </div>
        <div class="col s12 m4 allRating">
            <div class="globalRating">
                <h5>
                    Average Rating: {{averageRating}} <i class="fa fa-star"></i>
                </h5>
            </div>
        </div>
    </div>
</div>


<div class="bottomContainer">
    <div class="container">
        <div class="row">
            <div class="col s12 reviews">
                <div>
                    <form [formGroup]="checkoutForm" (ngSubmit)="submitReview(checkoutForm.value)"
                        class="input-field col s12">
                        <div class="form-group">
                            <input id="title" type="text" formControlName="title">
                            <label for="title"><i class="fas"></i>Review title</label>
                        </div>
                        <div>
                            <textarea id="review" class="materialize-textarea" data-length="120"
                                formControlName="reviewContent"></textarea>
                            <label for="review">Your review content:</label>
                        </div>
                        <div class="submitReviewButtonContainer">
                            <button type="submit" id="submitReviewBtn"
                                class="waves-effect waves-light btn-small green">submit review</button>
                        </div>
                    </form>
                </div>

                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">rate_review</i>Show reviews:</div>
                        <div class="collapsible-body">
                            <cdk-virtual-scroll-viewport itemSize="" class="vs">
                                <div class="row rRow" *cdkVirtualFor="let review of reviews; let n=index;">
                                    <div class="reviewCard">
                                        <h5 style="font-weight: bold">{{review.reviews.title}}</h5>
                                        <a [routerLink]="['/dashboard', review.reviews.user._id]">
                                            <h6 style="font-style: italic">{{review.reviews.user.username}}</h6>
                                        </a>
                                        <h6>{{review.reviews.rating}} Stars</h6>
                                        <p>{{review.reviews.comment}}</p>
                                        <p>{{formatDate(review.reviews.postedAt)}}</p>
                                    </div>
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>