.root {
    margin: 1em 2em;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;    
}

.cont-left {
    margin-right: 2em;
    min-width: 20vw;
    height: fit-content;
    padding:1em;
    border: 1px solid lightgray;
    display:flex;
    flex-direction: column;
}
.cont-left > *{
    flex: 1;
}

.admin-action {
    padding: 1em;
    transition: background-color 0.3s ease-in-out;
    color: #484848;
    font-weight: 500;
    cursor: pointer;
}

.admin-action:hover{
    background-color: lightgray;
}

.cont-right {
    flex: 1;
}