.error-message{
    color:red !important;
}

.googleLoginBtn {
   display: flex;
   flex: 1;
   justify-content: center; 
   color: #fff !important;
}

.field{
    border:1px;
}

.body{
    color: #fff;
}

.cover {
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    margin-top: 1%;
    width: 30%;
}

.login .card{
    background: rgba(0, 0, 0, .6);
}

.login label{
    font-size: 16px;
    color: #ccc;
}

.login input{
    font-size: 22px !important;
    color:#fff;
}

.login button:hover{
    padding: 0px 40px;
}

.btn{
    align-content: center;
}

.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p{
    margin-top: 10px 0 !important
}

.fa-small{
    font-size: 16px !important
}

.collapsible{
    text-align: center;
    font-size: 10vw;
}

.card {
    height: 700px;
    width: 80%;
}