<div class="carousel carousel-slider center">
    <div class="carousel-item white-text" href="#one!" *ngFor="let book of books">
        <div class="row">
            <div class="col s12 m4">
                <a [routerLink]="['/author', book.author._id]">
                    <h3>{{book.author.name}}</h3>
                </a>
            </div>
            <a [routerLink]="['/book', book._id]">
                <div class="col s12 m4 imgdiv">
                    <img src="{{findPath (book.coverImagePath)}}" alt="">
                </div>
            </a>
            <div class="col s12 m4">
                <a [routerLink]="['/book', book._id]">
                    <h3>{{book.title}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h1>Noticeboard</h1>
</div>

<ul class="collapsible popout">
    <li>
        <div class="collapsible-header"><i class="fas fa-star-half-alt"></i>Top picks</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m6 l3" *ngFor="let tp of topPicks">
                    <div class="card">
                        <div class="card-content center-align">
                            <div class="topCard">
                                <h5><a [routerLink]="['/book', tp._id]">{{tp.title}}</a></h5>
                                <a [routerLink]="['/author', tp.author._id]">{{tp.author.name}}</a>
                                <br>
                                <h6>{{tp.avg}} <i class="fa fa-star"></i></h6>
                            </div>
                            <br>
                            <div class="coverCard">
                                <img src="{{findPath(tp.coverImagePath)}}" alt="no image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="fas fa-address-card"></i>Best authors</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m6 l3" *ngFor="let author of bestAuthors">
                    <div class="card">
                        <div class="card-content center-align">
                            <div class="topCard">
                                <h5><a [routerLink]="['/author', author._id]">{{author.name}}</a></h5>
                                <h6>{{author.avg}} <i class="fa fa-star"></i></h6>
                            </div>
                            <div class="coverCard">
                                <img src="{{findPath(author.imagePath)}}" alt="no image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="fas fa-chart-line"></i>Most reviewed</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m6 l3" *ngFor="let rv of mostReviewed">
                    <div class="card">
                        <div class="card-content center-align">
                            <div class="topCard">
                                <h5><a [routerLink]="['/book', rv._id]">{{rv.title}}</a></h5>
                                <a [routerLink]="['/author', rv.author._id]">{{rv.author.name}}</a>
                                <br>
                                <h6 *ngIf="rv.numReviews != 1; else oneReview">{{rv.numReviews}} reviews
                                    <i class="material-icons">rate_review</i>
                                </h6>
                                <ng-template #oneReview>
                                    <h6>{{rv.numReviews}} review
                                        <i class="material-icons">rate_review</i>
                                    </h6>
                                </ng-template>
                            </div>
                            <br>
                            <div class="coverCard">
                                <img src="{{findPath(rv.coverImagePath)}}" alt="no image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>