#logBtn{
    float:right;
    height: 100%;
}

.bookm-a {
    border-radius: 0 !important;
    padding: 0 1em !important;
    -webkit-transition: background-color 500ms ease-in-out .5s;
    -moz-transition: background-color 500ms ease-in-out .5s;
    -o-transition: background-color 500ms ease-in-out .5s;
    transition: background-color 500ms ease-in-out 0.5s;
}

.bookm-a:hover{
    color: unset !important;
    text-decoration: none !important;
    background-color: #96969680 !important;
}
