<div class="container">
    <div class="row">
        <form class="col s12" [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value)"
            enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col s12 m4">
                    <input id="title" type="text" formControlName="title">
                    <label for="title"><i class="fas fa-book-open"></i> Title</label>
                </div>
                <div class="form-group col s12 m4 authors">
                    <div class="input-field">
                        <select formControlName="author">
                            <option value="" disabled selected>Author</option>
                            <option *ngFor="let author of resultAuthors">{{author.name}}</option>
                        </select>
                        <label for="otor">Author</label>

                    </div>
                    
                </div>
                <div class="form-group col s12 m4">
                    <select multiple formControlName="genres">
                        <option value="" disabled selected>Genres</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Romance">Romance</option>
                        <option value="Contemporary">Contemporary</option>
                        <option value="Dystopian">Dystopian</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Horror">Horror</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Paranormal">Paranormal</option>
                        <option value="Historical fiction">Historical fiction</option>
                        <option value="Science fiction">Science fiction</option>
                        <option value="Memoir">Memoir</option>
                        <option value="Cooking">Cooking</option>
                        <option value="Art">Art</option>
                        <option value="Self-help / Personal">Self-help / Personal</option>
                        <option value="Development">Development</option>
                        <option value="Motivational">Motivational</option>
                        <option value="Health">Health</option>
                        <option value="History">History</option>
                        <option value="Travel">Travel</option>
                        <option value="Guide / How-to">Guide / How-to</option>
                        <option value="Families & Relationships">Families & Relationships</option>
                        <option value="Humor">Humor</option>
                        <option value="Children’s">Children’s</option>
                        <option value="Realist Novel">Realist Novel</option>
                        <option value="Southern Gothic">Southern Gothic</option>
                        <option value="Bildungsroman">Bildungsroman</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea2" class="materialize-textarea" data-length="120"
                                formControlName="description"></textarea>
                            <label for="textarea2"><i class="fas fa-paragraph"></i> Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br>

            <div class="form-group row">
                <div class="file-field input-field">
                    <div class="btn">
                        <i class="fas fa-book"></i><span> Cover Image</span>
                        <input type="file" name="image" formControlName="coverImagePath" (change)="selectImage($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload a cover image">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn waves-effect waves-light">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>